html, body {
  background-color: #9BC702;;
}

.game-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    height: 100%;
    border: 2px solid #222222;
  }
}

.game-area {
  position: relative;
  margin: 20px auto;
  width: 600px;
  height: 400px;
  border: 2px solid #222222;
  background-color: #9BC702;
}

.snake-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #2A4001;
  border: 1px solid #9BC702;

  &:nth-child(1) {
    top: 0;
    left: 0;
  }

  &:nth-child(2) {
    top: 0;
    left: 2%;
  }

  &:nth-child(3) {
    top: 0;
    left: 4%;
  }
}

.snake-food {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: rgb(25, 37, 1);
  border: 1px solid #2A4001;
  border-radius: 50%;
  z-index: 1;
}